# Raw regex is:
#  {{regex}}

# Selected engine is:
#  Python

# Code generation proposal:
import re

text = ""   # empty
regex = r'{{regex}}'

{% if "globalmatch" in model.optional.flags.values %}
match_strings = re.findall(regex, text, flags={{flags}})
match_objects = re.finditer(regex, text, flags={{flags}})
{% else %}
match_object = re.search(regex, text, flags={{flags}})
{% endif %}


