##############################################################
######################### Raw regex ########################## 
##############################################################
#
#  {{regex}}
#
##############################################################
########################### Engine ########################### 
##############################################################
#
#  Python
#
##############################################################
########################### Tests ############################ 
##############################################################
{%- if tests %}
{%- for test in tests %}
#
#    test {{ loop.index0+1 }}:
#      pattern: {{test.pattern}}
{% if test.matches -%}
{%- for match in test.matches -%}
#      match {{ loop.index0+1 }}: {{match.group()}}
{%- for group in match.groups() -%}
#       group {{loop.index0}}: {{group}}
{%- endfor %}
{%- endfor %}
{%- else -%}
#        No matches.
{%- endif %}
{%- endfor %}
{%- else %}
#
# None test has been defined.
{%- endif %}
#
##############################################################
####################### Generated code ####################### 
##############################################################
import re

text = ""   # empty
regex = r'{{regex}}'

{% if model.optional and model.optional.flags and "globalmatch" in model.optional.flags.values -%}
match_strings = re.findall(
    regex, 
    text{% if flags != '' %}, 
    flags={{flags}}
    {% endif %}
)
match_objects = re.finditer(
    regex, 
    text{% if flags != '' %}, 
    flags={{flags}}
    {% endif %}
)
{% else %}
match_object = re.search(
    regex, 
    text{% if flags != '' %}, 
    flags={{flags}}
    {% endif %}
)
{% endif %}